
.loggout {
    display: flex;
    
    transition: 1s;
    overflow: hidden;
}

.logout-btn-container {
    background-color: #5e5c8e;
    flex: 1;
    transition: 0.5s;
}

.loggout .logout-btn-container {
    margin-top: 0%;
    padding: 20px 0;
}

.loggout.hide .logout-btn-container {
    margin-top: -30%;
    padding: 20px 0;
   
}